/* ------ Fonts ------ */

@font-face {
	font-family: "PTSans";
	font-style: normal;
	font-weight: 400;
	font-display: swap;
	src: url("../fonts/ptsans.woff2") format("woff2"),
				url("../fonts/ptsans.woff") format("woff");
}

@font-face {
	font-family: "PTSans";
	font-style: normal;
	font-weight: 700;
	font-display: swap;
	src: url("../fonts/ptsansbold.woff2") format("woff2"),
				url("../fonts/ptsansbold.woff") format("woff");
}

/* ------ Variables ------ */

:root {
	--text-special: #333333;
	--text-rating: #666666;

	--text-black: #000000;
	--text-brown: #766357;
	--text-blue: #81B3D2;
	--text-grey: rgba(0,0,0,0.3);
	--text-white: #FFFFFF;
	--text-light: rgba(255,255,255,0.3);

	--button-light-blue: #81B3D2;
	--button-blue: #669EC0;
	--button-dark-blue: #5496BD;

	--button-light-brown: #766357;
	--button-brown: #604E43;
	--button-dark-brown: #503E33;

	--input-light-grey: #F2F2F2;
	--input-dark-grey: #EBEBEB;

	--background-blue: #81B3D2;
	--background-grey: #EEEEEE;
	--background-rating: #F2F2F2;
	--background-border: #E5E5E5;

	--toggle-point: #ABABAB;
	--text-count: #A9A9A9;
}

/* ------ Global ------ */

body {
	margin: 0;
	padding: 0;
	font-family: "PTSans", Arial, sans-serif;
	font-size: 14px;
	line-height: 21px;
	font-weight: 400;
	color: var(--text-special);
	text-transform: uppercase;
	background-color: var(--background-rating);
}

a {
	text-decoration: none;
}

img {
	max-width: 100%;
	max-height: 100%;
}

ul, li {
	padding: 0;
	margin: 0;
}

.visually-hidden {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

.close {
	position: absolute;
	width: 1px;
	height: 1px;
	margin: -1px;
	border: 0;
	padding: 0;
	clip: rect(0 0 0 0);
	overflow: hidden;
}

/* ------ Grid ------ */

.page {
	height: 100%;
}

.container {
	width: 1200px;
	margin: 0 auto;
	background-color: var(--text-white);
	box-shadow: 0px 5px 15px rgba(0, 1, 1, 0.2);
	min-height: 100%;
	display: grid;
	grid-template-rows: min-content 1fr min-content;
	align-content: start;
	position: relative;
}

/* ------ Index ------ */

/* ------ Header ------ */

.navigation {
	font-weight: 700;
	line-height: 26px;
	position: relative;
}

.logo {
	position: absolute;
	margin-top: -14px;
	left: 531px;
	z-index: 1; 
}

.menu-list {
	display: flex;
	list-style: none;
	margin: 0 72px;
	margin-top: 14px;
	margin-bottom: 16px;
	justify-content: space-between;
}

.menu-list li:nth-child(2) {
	margin-right: 284px;
}

.menu-list li:last-child {
	margin-left: 13px;
}

.menu-list a {
	color: var(--text-black);
}

.menu-list a:hover,
.menu-list a:focus {
	color: var(--text-blue);
}

.menu-list a:active {
	color: var(--text-grey);
}

a.current {
	color: var(--text-brown);
}

/* ------ Greeting ------ */

.intro {
	background-color: var(--background-blue);
	background-image: url(../img/background-1.jpg);
	background-position: top center;
	background-repeat: no-repeat;
	position: relative;
}

.intro img {
	padding-top: 76px;
	padding-bottom: 80px;
	display: block;
	margin: auto;
}

.intro::after {
	content: "";
	background-image: url(../img/shape.svg);
	position: absolute;
	width: 1200px;
	height: 57px;
	bottom: -1px;
}

/* ------ Main Content ------ */

.main-content {
	margin-top: 44px;
}

.reasons {
	text-align: center;
}

.reasons h2 {
	width: 470px;
	margin: auto;
	font-size: 21px;
	line-height: 26px;
	font-weight: 700;
}

.reasons p {
	line-height: 26px;
	margin: 0;
	padding-top: 42px;
}

.reason-list {
	display: flex;
	flex-wrap: wrap;
	list-style: none;
	margin-top: 52px;
}

.reason-list__item {
	width: 400px;
	text-align: center;
	background-color: var(--background-grey);
}

.reason-list__item h3 {
	width: 150.5px;
	font-size: 21px;
	font-weight: 700;
	color: var(--text-black);
	margin: auto;
	padding-top: 47px;
	padding-bottom: 26px;
	
}

.reason-list__item p {
	width: 258px;
	margin: auto;
	padding-top: 24px;
	padding-bottom: 54px;
}

.reason-list__item--blue {
	color: var(--text-white);
	background-color: var(--background-blue);
}

.reason-list__item--blue h3 {
	color: var(--text-white);
}

.reason-list__item--blue p {
	width: 303px;
}

.reason-list__picture img {
	display: block;
}

.reason-list__item-icon {
	width: 400px;
	text-align: center;
}

.reason-list__item-icon h3{
	margin: 0;
	font-size: 21px;
	font-weight: 700;
	color: var(--text-black);
	padding-bottom: 27px;
}

.reason-list__item-icon p {
	width: 297px;
	margin: auto;
	padding-bottom: 81px;
}

.reason-list__item-icon--house h3::before {
	content: "";
	background-image: url(../img/icon-1.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 60px;
	padding-bottom: 27px;
	width: 75px;
	height: 72px;
	display: block;
	
}

.reason-list__item-icon--burger h3::before {
	content: "";
	background-image: url(../img/icon-2.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 61px;
	padding-bottom: 28px;
	width: 75px;
	height: 70px;
	display: block;
}

.reason-list__item-icon--gift h3::before {
	content: "";
	background-image: url(../img/icon-3.svg);
	background-repeat: no-repeat;
	margin: 0 auto;
	margin-top: 55px;
	padding-bottom: 27px;
	width: 64px;
	height: 77px;
	display: block;
}

/* ------ Search ------ */

.search {
	text-align: center;
	margin-top: 56px;
}

.search span {
	font-size: 30px;
	font-weight: 700;
	line-height: 24px;
	color: var(--text-black);
}

.search p {
	margin: 0;
	line-height: 25px;
	padding-top: 27px;
	padding-bottom: 43px;
}

.button {
	font: inherit;
	margin: auto;
	width: 568px;
	height: 86px;
	font-size: 21px;
	text-transform: uppercase;
	line-height: 26px;
	font-weight: 700;
	color: var(--text-white);
	background-color: var(--button-light-brown);
	border: 0;
}

.button:hover,
.button:focus {
	background-color: var(--button-brown);
	cursor: pointer;
}

.button:active {
	background-color: var(--button-dark-brown);
	color: var(--text-light);
}

.map iframe {
	border: none;
	display: block;
}

/* ------ Footer ------ */

.footer {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.contacts {
	font-size: 21px;
	line-height: 35px;
	font-weight: 700;
	color: var(--text-black);
	padding-top: 18px;
	padding-bottom: 36px;
	margin-left: 73px;
	text-align: center;
}

.contacts a {
	color: var(--text-black);
}

.social-list {
	display: flex;
	list-style: none;
	padding-top: 36px;
	padding-bottom: 36px;
	width: 150px;
	margin: 0 auto;
	justify-content: space-between;
}

.social-list a {
	width: 46px;
	height: 48px;
	background-color: var(--background-blue);
	display: block;
	align-items: center;
	display: flex;
	justify-content: center;
}

.social-list a:hover,
.social-list a:focus {
	background-color: var(--button-blue);
}

.social-list a:active {
	background-color: var(--button-dark-blue);
	color: var(--text-light);
}

.social-list__link:active path {
	fill: var(--text-light);
}

.creator {
	padding-top: 38px;
	padding-bottom: 41px;
	margin-left: 65px;
	width: 197px;
	display: flex;
	align-items: center;
	justify-content: space-between;
}

.creator a:hover path,
.creator a:focus path {
	fill: var(--text-blue);
}

.creator a:active path {
	fill: var(--text-grey);
}

/* ------ Hotels ------ */

/* ------ Filter ------ */

.filter-item {
	background-image: url(../img/background-2.jpg);
	background-color: var(--background-blue);
	background-position: top center;
	background-repeat: no-repeat;
	background-size: cover;
	color: var(--text-white);
	padding-top: 25px;
	padding-right: 73px;
	padding-left: 72px;
	padding-bottom: 32px;
	display: grid;
	grid-template-columns: 1fr 1fr 3fr;
}

.filter-column:nth-child(2) {
	margin-left: 44px;
}

.filter-column {
	border: 0;
	padding: 0;
	margin: 0;
}

.filter-column__list {
	list-style: none;
}

.filter-column__item {
	margin-top: 25px;
}

.filter-column__item input {
	cursor: pointer;
}

.filter-column__item label {
	padding-left: 41px;
	cursor: pointer;
	position: relative;
	display: inline-block;
	user-select: none;
}

.filter-column__item input + label::before {
	content: "";
	position: absolute;
	width: 23px;
	height: 23px;
	top: 1px;
	left: 0px;
	background-image: url(../img/checkbox-off.svg);
}

.filter-column__item input:checked + label::before {
	content: "";
	position: absolute;
	width: 27px;
	height: 23px;
	top: 1px;
	left: 0px;
	background-image: url(../img/checkbox-on.svg);
}

.filter-column__item input:hover + label,
.filter-column__item input:focus + label {
	opacity: 0.7;
}

.filter-column legend {
	font-size: 16px;
	font-weight: 700;
}

.filter-range {
	border: 0;
	padding: 0;
	margin: 0;
	margin-left: 317px;
}

.filter-range legend {
	font-size: 16px;
	font-weight: 700;
}

.price-control {
	display: flex;
	border: 2px solid var(--text-white);
	width: 313px;
	justify-content: space-between;
	position: relative;
	margin-top: 12px;
}

.price-control::after {
	content: '';
	position: absolute;
	width: 2px;
	height: 22px;
	background: var(--text-white);
	left: 50%;
	top: 5px;
}

.price input {
	background: none;
	border: none;
	text-transform: uppercase;
	text-align: center;
	font-size: 14px;
	line-height: 21px;
	color: var(--text-white);
	width: 152px;
	height: 30px;
}

.price-max input{
	width: 149px;
}

.price input::-webkit-input-placeholder {color: var(--text-white);}
.price input::-moz-placeholder          {color: var(--text-white);}/* Firefox 19+ */
.price input:-moz-placeholder           {color: var(--text-white);}/* Firefox 18- */
.price input:-ms-input-placeholder      {color: var(--text-white);}

.range-control {
	margin-top: 20px;
	position: relative;
}

.range-control .scale {
	height: 2px;
	width: 317px;
	background-color: var(--text-light);
}

.range-control .bar {
	width: 260px;
	height: 2px;
	background-color: var(--text-white);
}

.toggle {
	position: absolute;
	top: -9px;
	width: 4px;
	height: 4px;
	background: var(--toggle-point);
	border: 8px solid var(--text-white);
	border-radius: 50%;
	box-shadow: 0 2px 1px 0 rgba(0,1,1,0.2);
	cursor: pointer;
}

.toggle:hover,
.toggle:focus {
	transform: scale(1.1);
}

.toggle-min {

}

.toggle-max {
	left: 252px;
}

.transparent {
	display: block;
	width: 137px;
	height: 36px;
	color: var(--text-white);
	font-size: 14px;
	line-height: 21px;
	text-transform: uppercase;
	background: none;
	border: 2px solid var(--text-white);
	border-radius: 2px;
	cursor: pointer;
	margin-top: 33px;
	margin-left: 85px;
}

.transparent:hover,
.transparent:focus {
	background-color: var(--text-white);
	color: var(--text-black);
}

/* ------ Sort ------ */

.sort-item {
	display: flex;
	padding-top: 31px;
	padding-bottom: 30px;
	padding-left: 73px;
	padding-right: 73px;
}

.sort-item span {
	font-size: 21px;
	font-weight: 700;
	color: var(--text-black);
}

.sort-filter {
	display: flex;
	border: 0;
	margin-left: 46px;
	line-height: 18px;
}

.sort-filter span {
	font-size: 12px;
	color: var(--text-black);
}

.sort-filter__list {
	display: flex;
	list-style: none;
	margin-left: 8px;
}

.sort-filter__item {
	margin-left: 32.5px;
}

.sort-filter__item a {
	font-size: 12px;
	color: var(--text-grey);
	border-bottom: 1px dashed var(--text-blue);

}

.sort-filter__item a:hover,
.sort-filter__item a:focus {
	color: var(--text-blue)
}

.sort-filter__item a:active {
	color: var(--text-black);
	border-bottom: 1px dashed transparent;
}

a.active {
	color: var(--text-blue);
	border-bottom: 1px dashed transparent;
}

.sort-button {
	display: flex;
	list-style: none;
	margin-left: auto;
	margin-top: 4px;
}

.sort-button__item {
	margin-left: 12px;
}

.sort-button__item:hover path,
.sort-button__item:focus path {
	fill: var(--text-black);
}

.sort-button__item:active path {
	fill: var(--text-blue);
}

a.active-button path {
	fill: var(--text-blue);
}

/* ------ Catalog ------ */

.catalog-list {
	list-style: none;
	display: grid;
	grid-template-rows: 1fr 1fr 1fr;
}

.catalog-list__item {
	display: grid;
	grid-template-columns: 0.5fr 1fr 2fr;
	border-top: 1px solid var(--background-border);
	padding-top: 23px;
	padding-bottom: 23px;
	padding-left: 73px;
	padding-right: 73px;
	align-items: flex-start;
}

.catalog-list li:last-child {
	border-bottom: 1px solid var(--background-border);
}

.catalog-list__image {
	padding-top: 7px;
}

.catalog-list__item a {
	color: var(--text-black);
}

.catalog-list__item a:hover,
.catalog-list__item a:focus {
	color: var(--text-blue);
}

.catalog-list__item a:active {
	color: var(--text-grey);
}

.catalog-list__item h3 {
	display: inline;
	margin: 0;
	font-size: 21px;
	font-weight: 700;
}

.catalog-list__info {
	margin-top: 3px;
	margin-left: 13px;
}

.cost {
	display: flex;
	justify-content: space-between;
	width: 180px;
	margin-top: 7px;
}

.catalog-list__link {
	display: flex;
	margin-top: 15px;
}

.catalog-list__link a {
	font-weight: 700;
	color: var(--text-white);
	display: block;
	display: flex;
	align-items: center;
	justify-content: center;
	margin-right: 6px;
}

.catalog-list__details {
	background-color: var(--button-light-blue);
	width: 110px;
	height: 27px;
}

a.catalog-list__details:hover,
a.catalog-list__details:focus {
	background-color: var(--button-blue);
	color: var(--text-white);
}

a.catalog-list__details:active {
	background-color: var(--button-dark-blue);
	color: var(--text-light);
}

.catalog-list__book {
	background-color: var(--button-light-brown);
	width: 142px;
	height: 27px;
}

a.catalog-list__book:hover,
a.catalog-list__book:focus {
	background-color: var(--button-brown);
	color: var(--text-white);
}

a.catalog-list__book:active {
	background-color: var(--button-dark-brown);
	color: var(--text-light);
}

.catalog-list__rating {
margin-left: auto;
}

.stars {
	display: flex;
	justify-content: flex-end;
	margin-top: 6px;
}

.stars img {
	margin-left: 4px;
}

.rating {
	color: var(--text-rating);
	background-color: var(--background-rating);
	display: block;
	display: flex;
	width: 110px;
	height: 27px;
	align-items: center;
	justify-content: center;
	margin-top: 47px;
}

/* ------ Search Form ------ */

.search-form {
	position: absolute;
	margin: 0 auto;
	width: 568px;
	box-shadow: 0px 7px 15px rgba(0, 1, 1, 0.15);
	background-color: var(--text-white);
	top: 2169px;
	left: 316px;
}

.search-form form {
	margin: 0 auto;
	margin-top: 55px;
	width: 458px;
}

.search-form label {
	font-weight: 700;
	line-height: 26px;
	color: var(--text-black);
}

.calendar {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 29px;
}

.calendar input {
	padding: 0;
	width: 331px;
	height: 34px;
	border: none;
	background-color: var(--background-rating);
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	padding-left: 11px;
	text-transform: uppercase;
	border: 2px solid transparent;
}

.search-form input:hover {
	background-color: var(--input-dark-grey);
}

.search-form input:focus {
	outline: none;
	background-color: var(--text-white);
	border: 2px solid var(--background-border);
}

.search-form input::-moz-placeholder          {color: var(--text-black);}/* Firefox 19+ */
.search-form input:-moz-placeholder           {color: var(--text-black);}/* Firefox 18- */
.search-form input:-ms-input-placeholder      {color: var(--text-black);}
.search-form input::-webkit-input-placeholder {color: var(--text-black);}

.calendar button {
	outline: none;
	border: none;
	background-color: transparent;
	position: absolute;
	right: 3px;
	top: 6px;
	cursor: pointer;
}

.calendar button:hover path,
.calendar button:focus path {
	fill: var(--text-black);
}

.calendar button:active path {
	fill: var(--text-blue);
}

.count {
	display: flex;
	justify-content: space-between;
	margin-top: 30px;
	position: relative;
}

.count input {
	padding: 0;
	width: 110px;
	height: 34px;
	border: none;
	background-color: var(--background-rating);
	font-size: 14px;
	font-weight: 700;
	line-height: 26px;
	text-transform: uppercase;
	text-align: center;
	border: 2px solid transparent;
}

.count button {
	outline: none;
	border: none;
	background-color: transparent;
	cursor: pointer;
	font-weight: 700;
	font-size: 24px;
	color: var(--text-count);
	position: absolute;
}

.count button:hover,
.count button:focus {
	color: var(--text-black);
}

.count button:active {
	color: var(--text-blue);
}

.adult label {
	margin-right: 36px;
}

.children label {
	margin-right: 23px;
}

.adult .minus {
	top: 3px;
	left: 118px;
}

.adult .plus {
	top: 5px;
	left: 194px;
}

.children .minus {
	top: 3px;
	right: 81px;
}

.children .plus {
	top: 5px;
	right: 6px;
}

.search-button {
	margin-top: 54px;
	margin-bottom: 55px;
	width: 458px;
	height: 58px;
	border: none;
	color: var(--text-white);
	text-transform: uppercase;
	font-size: 21px;
	font-weight: 700;
	line-height: 26px;
	background-color: var(--button-light-blue);
	cursor: pointer;
}

.search-button:hover,
.search-button:focus {
	background-color: var(--button-blue);
}

.search-button:active {
	color: var(--text-light);
	background-color: var(--button-dark-blue);
}

